<div class="row mt-3">
  <div class="col-lg-3 col-sm-6">
    <div class="card-home">
      <mmj-switch-round [name]="'S1'"></mmj-switch-round>
    </div>
  </div>
  <div class="col-lg-3 col-sm-6">
    <div class="card-home">
      <mmj-switch-square [name]="'S2'"></mmj-switch-square>
    </div>
  </div>
  <div class="col-lg-3 col-sm-6">
    <div class="card-home">
      <mmj-switch-square [name]="'S3'"></mmj-switch-square>
    </div>
  </div>
  <div class="col-lg-3 col-sm-6">
    <div class="card-home">
      <mmj-switch-round [name]="'S4'"></mmj-switch-round>
    </div>
  </div>
  <div class="col-lg-3 col-sm-6">
    <div class="card-home">
      <mmj-switch-round [name]="'S5'"></mmj-switch-round>
    </div>
  </div>
  <div class="col-lg-3 col-sm-6">
    <div class="bg-white">
      <mmj-gauge [name]="'T1'"></mmj-gauge>
    </div>
  </div>
  <div class="col-lg-3 col-sm-6">
    <div class="bg-white">
      <mmj-gauge [name]="'T2'"></mmj-gauge>
    </div>
  </div>
  <div class="col-lg-3 col-sm-6">
    <div class="bg-white">
      <mmj-gauge [name]="'T3'"></mmj-gauge>
    </div>
  </div>
</div>